<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>美丽说</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>qqwalletpay.meilishuo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qqwalletpay.meilishuo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechatpayapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx61ef83a134a439c4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi.meilishuo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent210915</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mqqapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ000337E3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentApiIdentifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ210915</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>meilishuoapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MLS20150603</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay.meilishuo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alipay.meilishuo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weiboapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb4215101395</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.meilishuo.meilishuo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>meilishuo</string>
				<string>mls</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1723</string>
	<key>ClientId</key>
	<string>14</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1546cf0eeae2cc3dfde779e218f2494abd6a27dd</string>
		<key>Kits</key>
		<array>
			<string>KitName</string>
			<string>Crashlytics</string>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mogu</string>
		<string>uniny</string>
		<string>go</string>
		<string>amcustomerurl</string>
		<string>mogujie</string>
		<string>mgj</string>
		<string>weixin</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>org-appextension-feature-password-management</string>
		<string>wechat</string>
		<string>mqqapi</string>
		<string>instagram</string>
		<string>mlshigirl</string>
		<string>weiquan</string>
		<string>prefs</string>
		<string>about</string>
		<string>mqqwallet</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGJAppChannel</key>
	<string>NILAppStore</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>日笺天气提醒需要您的定位信息</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
